.cards {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 46px;
}

@media screen and (max-width: 880px) {
    .cards {
        justify-content: space-around;
    }
}

@media screen and (max-width: 612px) {
    .cards {
        flex-direction: column;
    }
}