.cards {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 46px;
}

@media screen and (max-width: 900px) {
    .cards {
        justify-content: space-evenly;
    }
} 

@media screen and (max-width: 600px) {
    .cards {
        flex-direction: column;
    }
} 