.popup{
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    padding-top: 195px;
}

@media screen and (max-width: 650px) {
    .popup {
        padding-top: 123px;
    }
}