.page {
    color: #fff;
    min-width: 320px;
    max-width: 880px;
    margin: 0 auto;
    padding: 45px 20px 60px;
}

@media screen and (max-width: 650px) {
    .page {
        padding: 28px 0 36px;
    }
}