.root {
    margin: 0;
    padding: 0;
    background-color: #000000;
}

.page {
    color: #fff;
    min-width: 320px;
    max-width: 880px;
    margin: 0 auto;
    padding: 45px 0 60px;
    font-family: 'Inter', Arial, sans-serif;
    outline: blue 1px solid;
}

.header {
    display: flex;
    align-items: center;
    justify-content: start;
    margin: 0 auto 40px;
    max-width: 1184px;
    border-bottom: solid 1px #545454;
    box-sizing: border-box;
    outline: blue 1px solid;
    }

    .header__logo {
        width: 142px;
        min-height: 33px;
        background-image: url(./images/VectorLogo.svg);
        margin-bottom: 41px;
        outline: blue 1px solid;
    }