.root {
    margin: 0;
    padding: 0;
    background-color: #000000;
}

.page {
    color: #fff;
    min-width: 320px;
    max-width: 880px;
    margin: 0 auto;
    padding: 45px 0 60px;
    font-family: 'Inter', Arial, sans-serif;
    outline: rgb(55, 55, 61) 1px solid;
}

.header {
    display: flex;
    align-items: center;
    justify-content: start;
    margin: 0 auto 40px;
    max-width: 1184px;
    border-bottom: solid 1px #545454;
    box-sizing: border-box;
    outline: rgb(55, 55, 61) 1px solid;
}

.header__logo {
    width: 142px;
    min-height: 33px;
    background-image: url(./images/VectorLogo.svg);
    margin-bottom: 41px;
    outline: rgb(55, 55, 61) 1px solid;
}

.profile {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    outline: rgb(55, 55, 61) 1px solid;
}

.profile__avatar {
    margin-right: 30px;
}

.profile__info {
    width: 294px;
    margin: auto 0;
}

.profile__name {
    margin: 0 0 5px;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
}

.profile__hobby {
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

.profile__edit {
    width: 24px;
    height: 24px;
    background-color: #000000;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    margin-bottom: 24px;
}

.profile__pen {
    width: 10px;
    height: 10px;
}

.profile__button {
    margin-left: auto;
    width: 150px;
    height: 50px;
    background-color: #000000;
    border: solid 2px #fff;
    box-sizing: border-box;
}

.cards {
    margin-bottom: 46px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
} 

.element {
    /* display: flex; */
    flex-direction: column;
    width: 282px;
    min-height: 361px;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 10px;
}

.element__image {
    min-height: 282px;
    background-size: cover;
}

.element__info {
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    padding: 0 15px 0 21px;
}

.element__title {
    color: #000000;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.element__like {
    margin-left: auto;
    border: none;
    background-color: #fff;
    transition: opacity .2s ease;
}

.element__like:hover {
    cursor: pointer;
    opacity: 50%;
}

.element__like_active {
    display: none;
}

.footer {
    color: #545454;
}

.footer__copyright {
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}