.profile__edit {
    width: 24px;
    height: 24px;
    background-color: #000000;
    border: none;
    box-sizing: border-box;
    transition: opacity .2s ease;
}

.profile__edit:hover {
    opacity: 60%;
    cursor: pointer;
}

@media screen and (max-width: 700px) {
    .profile__edit {
        width: 18px;
        height: 18px;
    }
}

