.popup__form-input {
    margin-bottom: 26px;
    min-height: 27px;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.popup__form-input:invalid{
    border-bottom-color: red;
}

.popup__form-input:valid{
    border-bottom-color: green;
}

.popup__form-input:last-of-type {
    margin-bottom: 48px;
}