.header {
    display: flex;
    align-items: center;
    justify-content: start;
    margin: 0 auto 40px;
    max-width: 1184px;
    border-bottom: solid 1px rgba(54, 54, 54, .7);
    box-sizing: border-box;
}