.popup__close {
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    top: -43px;
    left: 430px;
    transition: opacity .2s ease;
}

.popup__close:hover {
    cursor: pointer;
    opacity: 60%;
}

@media screen and (max-width: 650px) {
    .popup__close {
        top: -37px;
        left: 255px;
    }
}