.profile__job {
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    max-width: 294px;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 700px) {
    .profile__job {
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        min-width: 220px;
        max-width: 282px;
    }
}